<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <ul>
    <% for(var i=0;i<news.length;i++ ){ %>
        <li><%= news[i] %></li>
    <% } %>
    </ul>
</body>
</html>